{
  "title" :             "stomp-js",
  "content_file" :      "README.md",
  "include_index" :     true,
  "docco_files" :       "lib/*.js",
  "header" :            "stomp-js",
  "subheader" :         "Implementation of the STOMP protocol in node.js",
  "background" :        "diagonal-noise",
  "github" :                  "https://github.com/benjaminws/stomp-js"
}
